<div class="container">

  <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

          <h1 class="page-header">
              Page Heading
              <small>Secondary Text</small>
          </h1>

          <!-- First Blog Post -->
          <% if @blogs.present?%>
            
            <% @blogs.each do |blog| %>
              <!-- <div class="card"> -->
              <!-- </div> -->
              <%#= link_to blog.title, blog_path(blog), class: "card" %>
              <h2>
                  <%=link_to blog.title, blog_path(blog) %>
                  <!-- <a href="#">Blog Post Title</a> -->
              </h2>
              <p class="lead">
                  by <a href="#"><%=blog.blogger.full_name%></a>
              </p>
              <p><span class="glyphicon glyphicon-time"></span> Posted on <%= time_ago_in_words(blog.created_at) %> ago</p>
              <hr>
              <p>
                <%=blog.description%>
              </p>
                <%=link_to "Read More", blog_path(blog),class: "btn btn-primary" %>
                <!-- <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a> -->
             
            <hr>
            <%end%>
          <% else %>
            <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
          <% end %>
          <%= link_to t('.new', :default => t("helpers.links.new")), new_blog_path, :class => 'btn btn-primary' %>


  </div>
   <div class="col-md-4">

      <div class="well">
          <h4>Blog Search</h4>
            <%= form_tag(blogs_path, :method => "get", id: "title-search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
            <%= submit_tag "Search" %>
          <% end %>




          <%= form_tag(blogs_path, :method => "get", id: "category-filter-form") do %>
            <div class="field">
              <label>Category Filter :</label>
              <%= select_tag(:filter,content_tag(:option,'select one...',:value=>"") + options_from_collection_for_select(Category.all, "id", "name"), 
                 :onchange => (("javascript: this.form.submit();")))%>
            </div>    
          <% end %>
      </div>
  </div>

  
</div>






