<div class="ui four stackable cards">
  <% @blogs.each do |blog| %>
    <!-- <div class="card"> -->
    <!-- </div> -->
    <%#= link_to blog.title, blog_path(blog), class: "card" %>
    <%= link_to(blog_path(blog)) do %>
      <div class="card-block">
        <h3 class="card-title">
          <%=blog.title%>
        </h3>
        <%=blog.description%>
        <p>
          <small>Last Updated: <%= time_ago_in_words(blog.created_at) %> ago</small>
        </p>
        <!-- <p class="card-text" [innerHTML]="post.description"></p> -->
      </div>
    <% end %>
    <hr />
  <% end %>

  <%= link_to t('.new', :default => t("helpers.links.new")), new_blog_path, :class => 'btn btn-primary' %>
    
</div>

