<!DOCTYPE html>
<html>
  <head>
    <title>DemoBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url%>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" > -->
    <!-- <link href="/assets/blog-post.css" rel="stylesheet"> -->
     <!-- <link href="/assets/blog-home.css" rel="stylesheet"> -->
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" ></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> -->
  <script src="https://cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
  <!-- <script src="js/jquery.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
  </head>

  <body>
   
    <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Some Store</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Browse Posts", blogs_path %></li>
          <li><%= link_to "Price List" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Cart" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    

 <!-- <div id="user_nav">
  <%# if user_signed_in? %>
    Signed in as <%#= current_user.email %>. Not you?
    <%#= link_to "Sign out", signout_path, :method => :delete %>
  <%# else %>
  <%#= link_to('Login', new_user_session_path)  %>  
  <%#= link_to "Sign in with Twitter", "/auth/twitter" %>
  <%#= link_to "Sign in with Facebook", "/auth/facebook" %>
    <%#= link_to "Sign up", new_user_registration_path %> or <%#= link_to "sign in", new_user_session_path %>
  <%# end %>
</div>
 -->
  </body>
</html>
